html,
body,
#app,
#app>div {
  display: flex;
  height: 100%;
  align-items: flex-end;

}


.pattern {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
}